# Dependencies
node_modules

# Build outputs
.next
dist
out

# Version control
.git
.gitignore

# Dev config
.env*
!.env.example
*.local

# Test files
**/*.spec.ts
**/*.spec.tsx
**/*.test.ts
**/*.test.tsx
coverage
jest.config.*

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
