# Dependencies
node_modules

# Build outputs
dist
out-tsc

# Version control
.git
.gitignore

# Dev config
.env*
!.env.example
*.local

# Test files
**/*.spec.ts
**/*.test.ts
coverage
jest.config.*

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
